* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #414141;
}

nav {
  display: flex;
  width: 100%;
  max-width: 81rem;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #83c61f;
  font-size: 1.5rem;
}
i {
  color: #252525;
}
.menu {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.contact a {
  color: #83c61f;
}

main {
  padding: 0 2rem 2rem 2rem;
}
/* Hero section  */

.hero {
  width: 100%;
  max-width: 81rem;
  border-radius: 14px;
  margin: 0 auto;
  min-height: 85vh;
  min-height: 85dvh;
  background-color: #252525;
  position: relative;
  /* centrer le contenu */
  display: grid;
  place-content: center;
  background-image: url("https://images.unsplash.com/photo-1618977674947-009d88112d67?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 1rem 2rem;
  transition: scale 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 4.4s ease-in-out;
  transform: scale(1);
  will-change: transform;
  object-fit: cover;

}
.hero:hover img {
  transform: scale(1.2);
}

.container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 10rem;
}

.hero-title h1 {
  font-size: 4rem;
  color: #f1f1f1;
  text-align: center;
  line-height: 1.25;
}
.hero-cta {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.hero-cta button {
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 999px;
  background-color: #252525;
  color: #f1f1f1;
  cursor: pointer;
  font: 1.25rem;
  font-weight: 700;
}

.hero-cta button:nth-child(1) {
  background-color: #83c61f;
}
.hero-cta button:nth-child(2) {
  background-color: transparent;
  outline: #f1f1f1 1px solid;
}
.colorize {
  color: #83c61f;
}

@media only screen and (max-width: 680px) {
  .hero-title h1{
    font-size: 2rem;
  }

  .hero-cta{
    flex-direction: column;
    gap: 1rem;
  }
  .menu{
    display: none;
  }
  .container{
    padding: 1rem .25rem;
  }
  main{
    padding: 0 .85rem 1rem;
  }
}